h1, h2 {
  font-family: Lato;
}

.cookie {
  width: 50px;
  height: 50px;
  margin: 2px;
  color: white;
  display: flex;
  align-items: center; /* vertical alignment */
  justify-content: center; /* horizontal alignment */
}

.sprinkle {
  width: 25px;
  height: 25px;
  color: white;
  display: flex;
  align-items: center; /* vertical alignment */
  justify-content: center; /* horizontal alignment */
}